<h1>New restaurant</h1>

<%= simple_form_for(@restaurant), hmtl { class: ""}  do |f| %>
<%= f.input :name %>
<%= f.input :address input_html {class: } %>
<%= f.input :phone_number %>
<%= f.input :category, collection: Restaurant::CATEGORIES %>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>

<%# simple form for gem git hub %>
